/**/
.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

/*Navigation bar*/

.navbar {
  margin-bottom: 0px;
}

/*Navigation brand*/
.navbar-default .navbar-brand {
  font-size: 24px;
  font-family: 'VT323',serif ;
  letter-spacing: 2px;
  color: white;
  background: #00BCD4; /* #FF4081; */
  border-bottom-style: solid;
  border-bottom-color: #0097A7;
  border-bottom-width: medium;
}

.navbar-default .navbar-brand:hover {
  color: #B2EBF2;
  background: #0097A7;
}

.navbar-default .navbar-nav>li>a:focus {
  color: #B2EBF2;
  background: #0097A7;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: #B2EBF2;
  background: #0097A7;
}

/*Navigation links*/

.navbar-default .navbar-nav>li>a {
  font-family: 'Roboto', serif;
  letter-spacing: 1px;
  color: white;
  background: #00BCD4;
  border-width: 0 1 0 1;
  border-style: solid;
  border-color: #BBDEFB;
}

.navbar-default .navbar-nav>li>a:hover {
    color: white;
    background: #0097A7;
}


.navbar-fixed-top {
  border-bottom: 0px;
}

/*Navigation hamburger*/

.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:hover,  .navbar-default .navbar-toggle:focus {
  border: none;
  background-color: transparent;
}

/*Sections*/
p {
  font-size: 18px;
}

.anchor {
  padding-top: 40px;
  margin-top: -40px;
}
.section {
  background-repeat: no-repeat;
  background-size: cover;
  background-size: contain;
  box-shadow: 0px 2px #BBDEFB;
}

.section1 {
  padding-top: 200px;
  color: whitesmoke;
  background-color: rgba(0,0,0,0.10);
  background: url("Images/keyboard.jpg") fixed;
  height: 1000px;
  text-align: center;
  text-shadow: 1px 1px #727272;
}

.jumbotron {
  background: transparent;
    box-shadow: 0px 1px whitesmoke;
}

.jumbotron p {
  font-size: 24px;
}

.section2 {
    background: url("Images/dark-pattern.png") fixed;
    height: 750px;
    color: white;
}

.section3 {
  background: url("Images/grey.png") fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 550px;
}

.list2 {
  list-style: none;
}

.section4 {
  background: whitesmoke fixed;
  min-height: 900px;
}


.col1 {
  margin-top: 30px;
}


.image-round {
  margin-top: 50px;
  margin-left:70px;
  width: 200px;
  border-style: solid;
  border-width: 1px;
  border-color: #333333;
}

/*Footer*/


.footer {
  padding: 15px;
  color: white;
  background: grey;
}
.footer a {
  color: white;
}

.footer .list-inline {
  list-style: circle;
}

/*Buttons*/

.btn-primary {
  border: none;
}
.btn-main {
  font-family: 'Roboto', serif ;
  letter-spacing: 1px;
  margin-top: 20px;
  background: #9E9E9E;
  color: #212121;
}

.grow {
  transition: all .2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
  color: white;
  background: #00BCD4;
 }



/*Testing image overlay*/

.hovereffect {
width:238px;
height:238px;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
margin-top: 25px;
margin-bottom: 25px;
}

.hovereffect .overlay {
width:100%;
height: 100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect h2 {
text-transform:uppercase;
color:#fff;
text-align:center;
position:relative;
font-size:17px;
background:rgba(0,0,0,0.6);
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding:10px;
}

.hovereffect a.info {
text-decoration:none;
display:inline-block;
text-transform:uppercase;
color:#fff;
border:1px solid #fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
margin:50px 0 0;
padding:7px 14px;
}

.hovereffect a.info:hover {
box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}





 @media only screen and (max-width: 1000px) {
      .list1 li {
      display: list-item;
    }

    .image-round {
      display: none;
    }
 }
